@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/* example: override wallet button style */
.wallet-adapter-button:not([disabled]):hover {
  background-color: #707070;
}

form {
  min-width: 40vw;
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin: 50px auto;
  /* background-color: #4a4a4a; */
  padding: 50px 30px;
  border: 0;
  border-radius: 10px;
  font-size: 1.25rem;
  background: rgb(126, 60, 209);
  background: linear-gradient(7deg, rgba(126, 60, 209, 1) 20%, rgba(84, 151, 213, 1) 73%, rgba(5, 201, 118, 1) 100%);
}

form label {
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: rgb(0, 0, 0);
  font-weight: bolder;
  letter-spacing: .15ch;
}

form input,
select {
  color: black;
  border-radius: 10px;
  padding: 5px 10px;
}

form #submit {
  background-color: black;
  width: 50%;
  margin: 0 auto;
  color: white;
  cursor: pointer;
  font-weight: bolder;
  letter-spacing: .35ch;
}

form #submit:hover {
  background-color: rgb(50, 24, 79);
  /* color: black; */
}